body {
    color: #444444;
}

a, a:hover {
    color: #7abaff;
    text-decoration: none;
}

/* Navbar */
.bg-primary {
  background-color: #7abaff !important;
}

button.navbar-toggler:focus {
  outline: 5px auto #fff;
}

.jumbotron {
  text-align: center;
  color: #fff;
  background-color: #7abaff;
  background-image: url("");
  background-repeat: no-repeat;
  background-position: center;
}

ul {
    padding-left: 0px;
    list-style-type: none;
}

.row-header {
    text-align: center;
    font-weight: 500;
  font-size: 0.9em;
}
.row-pokemon {
  text-align: center;
  min-height: 65px;
}

.img-fluid.img-dex {
  max-width: 65%;
  padding: 5px;
}

.navbar-green {
  background-color: #46b979 !important;
}
.jumbotron-green {
  background-color: #46b979;
}

.header-number {
  font-weight: 100;
}

.col-arrows {
    margin: auto;
}

.fas {
    font-size: 1em;
}

.col-arrows {
    padding: 0;
}

.col-arrows h3, .col-pokemon h3 {
    font-size: 0.75rem;
}

.col-pokemon-middle {
      padding: 0 10px;
}

body.pokemon .img-fluid.img-dex {
  max-width: 100%;
  padding: 0;
}























.footer-copyright {
  margin-top: 5em;
}

@media only screen and (min-width: 1350px) {
  .row-pokemon {
    min-height: 120px;
  }
}

/* M */
@media only screen and (max-width: 600px) {
  body.index .col-style {
    display: none;
  }
}

/* L */
@media only screen and (max-width: 992px) {
  body.index .col-no, .col-hp, .col-atk {
    display: none;
  }
}

/* XL */
@media only screen and (max-width: 1350px) {
  body.index .col-recipe {
    display: none;
  }
}
