body {
  color: #444444;
}

a, a:hover {
  color: #7abaff;
  text-decoration: none;
}

/* Navbar */
.bg-primary {
  background: linear-gradient(120deg,rgba(7,135,225,.79),#9cc5f78c) !important;
}

button.navbar-toggler:focus {
  outline: 5px auto #fff;
}

.jumbotron {
  text-align: center;
  color: #fff;
  background: linear-gradient(120deg,rgba(7,135,225,.79),#9cc5f78c);
}

ul {
  padding-left: 0px;
  list-style-type: none;
}

.row-header {
  text-align: center;
  font-weight: 500;
  font-size: 0.9em;
}
.row-pokemon {
  text-align: center;
  min-height: 65px;
}

.img-fluid.img-dex {
  max-width: 65%;
  padding: 5px;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 10;
}

.jumbotron {
  margin-top: 0px;
  padding-top: 85px;
}

.navbar-green {
  background: linear-gradient(120deg,#14d867,rgba(7,135,225,.79));
}
.jumbotron-green {
  background: linear-gradient(120deg,#14d867,rgba(7,135,225,.79));
}

.header-number {
  font-weight: 100;
}

.col-arrows {
  margin: auto;
}

.fas {
  font-size: 1em;
}

.col-arrows {
  padding: 0;
}

.col-arrows h3, .col-pokemon h3 {
  font-size: 0.75rem;
}

.col-pokemon-middle {
  padding: 0 10px;
}

body.pokemon .img-fluid.img-dex {
  max-width: 100%;
  padding: 0;
}























.footer-copyright {
  margin-top: 5em;
}

@media only screen and (min-width: 992px) {
  .jumbotron {
    margin-top: -56px;
    padding-top: 80px;
  }

  .navbar {
    background: transparent !important;
    position: inherit;
  }
}

@media only screen and (min-width: 1350px) {
  .row-pokemon {
    min-height: 120px;
  }
}

/* M */
@media only screen and (max-width: 600px) {
  body.index .col-style {
    display: none;
  }
}

/* L */
@media only screen and (max-width: 992px) {
  body.index .col-no, .col-hp, .col-atk {
    display: none;
  }
}

/* XL */
@media only screen and (max-width: 1350px) {
  body.index .col-recipe {
    display: none;
  }
}
